<nav class="top-nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>


    <a routerLink="/showToons" routerLinkActive="active">Toons</a>

@if (isLogged && isAdmin) {
  <a routerLink="/admin" class="nav-link">Admin</a>
}   
@if(token){
   <a routerLink="/settings" routerLinkActive="active">Account</a>
}
 

  @if (token) {
    <button (click)="logout()">Log Out</button>
  } @else {
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  }
</nav>
