<app-search-bar
  [professionOptions]="professionOptions"
  [campaignOptions]="campaignOptions"
  (search)="handleSearch($event)"
  (filtersChange)="handleFiltersChange($event)"
/>

<app-skills-list
  [skillsList]="displayedSkills"
  (showBossEvent)="handleData($event)"
  (ownershipChange)="onOwnershipChange($event)"
  (toggleBossList)="onToggleBossList($event)"
/>

<app-toon-details />

<app-boss-list
  [bossList]="bossList"
  [showBossList]="showBossList"
  (closeBossListEvent)="onToggleBossList(false)"
  [class.active]="showBossList"
></app-boss-list>

<footer class="gw-copyright">
  Guild Wars © 2004
  <a href="https://www.arena.net/" target="_blank" rel="noopener noreferrer">
    ArenaNet, Inc.
  </a>
  All rights reserved. ArenaNet, Arena.Net and the ArenaNet logo are trademarks or
  registered trademarks of NCsoft Corporation in the U.S. and/or other countries. © 2006
</footer>