<app-search-bar
  [professionOptions]="professionOptions"
  [campaignOptions]="campaignOptions"
  (search)="handleSearch($event)"
  (filtersChange)="handleFiltersChange($event)"
/>

<app-skills-list
  [skillsList]="displayedSkills"
  (showBossEvent)="handleData($event)"
  (ownershipChange)="onOwnershipChange($event)"
  (toggleBossList)="onToggleBossList($event)"
/>

<app-toon-details />

<app-boss-list
  [bossList]="bossList"
  [showBossList]="showBossList"
  (closeBossListEvent)="onToggleBossList(false)"
  [class.active]="showBossList"
></app-boss-list>

