<div class="auth-shell">
  <div class="">
    <form [formGroup]="form" (ngSubmit)="loginUser()" class="auth-card">
      <h1>Login</h1>

      <div class="field">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email" />
      </div>

      <div class="field">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
      </div>

      <button class="primary" type="submit">Login</button>

      <p class="meta">
        new member? Sign up !
        <a routerLink="/register">Sign up</a>
      </p>
    </form>
  </div>
</div>
