:host {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffe0b2; 
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  background: rgba(0, 0, 0, .35);
  border-radius: 16px;
  backdrop-filter: var(--blur-medium);
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255,255,255,.15);
  box-shadow: inset 0 0 0 1px rgba(216,168,74,.8);
}